[submodule "oracle-exercises"]
	path = oracle-exercises
	url = git@github.com:jondawes/oracle-exercises.git
[submodule "mssql-exercises"]
	path = mssql-exercises
	url = git@github.com:jondawes/mssql-exercises.git
